<div class="row">
  <div class="col-md-12">
    <h1>
      Products Admin
      <button class="btn btn-danger" ng-click="reset()">Reset Data</button>
      <form name="newProductForm" class="form-inline pull-right" ng-submit="create()" novalidate>
        <input class="form-control" type="text" ng-model="product.name" required/>
        <button class="btn btn-primary" type="submit" ng-disabled="newProductForm.$invalid || isCreatingProduct">Create Product</button>
        <div cg-busy="productCreatePromise"></div>
      </form>
    </h1>

  </div>
</div>

<div class="row">
  <div cg-busy="productsPromise"></div>
  <div class="col-md-12 admin_product_container admin-product-animate" ng-repeat="product in products">
    <div class="well admin_product_container_well">
      <a href="#" editable-text="product.name" onbeforesave="update(product, $data)">{{ product.name || "empty" }}</a>
      <button href class="delete_btn btn btn-danger btn-xs" dd-confirm-click="destroy(product)"
              dd-confirm-title="Delete Product ?" dd-confirm-text="Are you sure you want to delete this product ?">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>