<div class="row">
  <div class="col-md-12">
    <h1>
      Products Admin
      <button class="btn btn-info" ng-click="reset()">Reset Data</button>
      <button class="btn btn-info" dd-confirm-click="reset()">Reset with confirm</button>
    </h1>

  </div>
</div>
<div class="row">
  <div cg-busy="productsPromise"></div>
  <div class="col-md-12 admin_product_container admin-product-animate" ng-repeat="product in products">
    <div class="well admin_product_container_well">
      <a href="#" editable-text="product.name" onbeforesave="update(product, $data)">{{ product.name || "empty" }}</a>
      <button href class="delete_btn btn btn-danger btn-xs" ng-click="destroy(product)"><i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>